body {
  padding-top: 60px
}
#map {
  height: 750px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #555
}
.dl-horizontal dt {
  text-align: left;
}
/*-------------[ Global: Navbar]-------------------*/

.ddu-nav {
  border-bottom: 0 solid #31196D;
  background-color: #51398D;
  box-shadow: 0 1px 2px rgba(1, 3, 1, 0.05);
  color: #16a085;
}
.ddu-nav .navbar-brand {
  height: 60px;
  font-size: 24px;
  padding: 0px 9px;
  background-color: #fff;
}
.ddu-nav .navbar-brand:hover {
  background-color: #fff;
}
.ddu-nav .navbar-nav > li > a {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ddu-nav .navbar-nav > li > a:hover, .ddu-nav .navbar-nav > li > a:focus {
  color: #dff;
  background-color: transparent;
}
.ddu-nav .navbar-nav > .active > a, .ddu-nav .navbar-nav > .active > a:hover, .ddu-nav .navbar-nav > .active > a:focus {
  color: #dff;
  background-color: transparent;
}
.ddu-nav .navbar-toggle {
  border-color: transparent;
}
.ddu-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.ddu-nav .navbar-toggle .icon-bar {
  background-color: #E85272;
}
.ddu-nav .navbar-toggle:hover .icon-bar {
  background-color: #c83252;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eee;
  border-color: #f0f0f0 !important;
}
.ddu-nav .dropdown-menu {
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}
.ddu-nav .dropdown-menu li >a {
  padding: 10px 15px
}
